<h2>画像診断による旅先提案</h2>
<p>下の画像から貴方が気に入った順に3つの画像を選択して下さい</p>
<p>「診断」をクリックすると、おすすめの旅先3箇所が表示されます</p>
<form action="reesult" method="GET">
<label for="select1">1番目に好きな画像</label>
<select id="select1">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>
<label for="select2">2番目に好きな画像</label>
<select id="select2">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>
<label for="select3">3番目に好きな画像</label>
<select id="select3">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>
</form>
<!-- Gallery -->
<div class="gallery">
<img src="http://placehold.it/100x100/4D99E0/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/75CC00/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/E49800/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/E4247E/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/00C6E4/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/E4DB0F/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/7400E4/ffffff.png&text=100x100" width="100" height="100" />
<img src="http://placehold.it/100x100/C50000/ffffff.png&text=100x100" width="100" height="100" />
</div>
