<h2>画像診断による旅先提案</h2>
<p>下の画像から貴方が気に入った順に3つの画像を選択して下さい</p>
<p>「診断」をクリックすると、おすすめの旅先3箇所が表示されます</p>

<form action="reesult" method="GET">
<label for="select1">1番目に好きな画像</label>
<select id="select1">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>

<label for="select2">2番目に好きな画像</label>
<select id="select2">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>

<label for="select3">3番目に好きな画像</label>
<select id="select3">
<option value="0">-- 選択して下さい --</option>
<option value="1">画像1</option>
<option value="2">画像2</option>
<option value="3">画像3</option>
<option value="4">画像4</option>
<option value="5">画像5</option>
<option value="6">画像6</option>
<option value="7">画像7</option>
<option value="8">画像8</option>
<option value="9">画像9</option>
<option value="10">画像10</option>
</select>

<input style="margin-left:20px;" type="submit" value="判定する"/>
</form>
<br />
<!-- Gallery -->
<div class="gallery">
<img style="width: 300px;height:200px;" class="caption" title="画像1" src="/images/selectImages/1.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像2" src="/images/selectImages/2.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像3" src="/images/selectImages/3.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像4" src="/images/selectImages/4.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像5" src="/images/selectImages/5.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像6" src="/images/selectImages/6.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像7" src="/images/selectImages/7.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像8" src="/images/selectImages/8.jpg" width="200" height="200" />
<img style="width: 300px;height:200px;" class="caption" title="画像9" src="/images/selectImages/9.jpg" width="200" height="200" />
<img style="width: 300px;height:200px;" class="caption" title="画像10" src="/images/selectImages/10.jpg" width="200" height="200" />
</div>


