<% @dest_results1 = "泉岳寺（赤穂浪士の墓）" %>
<% @dest_results2 = "碓氷第三橋梁" %>
<% @dest_results3 = "足尾銅山" %>

<h3>あなたにオススメの観光地は、</h3>
<ol>
  <li><%= @dest_results1 %></li>
  <li><%= @dest_results2 %></li>
  <li><%= @dest_results3 %></li>  
</ol>

