<% @dest_results1 = "高尾山" %>
<% @dest_results2 = "東京タワー" %>
<% @dest_results3 = "横浜" %>

<h2>あなたにオススメの観光地は、</h2>
<ol>
  <li><%= @dest_results1 %></li>
  <li><%= @dest_results2 %></li>
  <li><%= @dest_results3 %></li>  
</ol>

