@charset "utf-8";
body {
    margin: 0;
    padding: 0 0 0 0;
    color: #000;
    background: #efefef url(css/img/gray_jean.png);
    font: normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0px 0px 1px transparent;
}
